# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Node & Build
node_modules/
npm-debug.log
yarn-error.log
dist/
dist-ssr/
build/
.parcel-cache
.cache
out/

# Vite
.vite

# Environment
.env
.env.local

# Lock files
yarn.lock
package-lock.json
